In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, r2_score, precision_score 
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression


df=pd.read_csv("/Users/inamkhan/Desktop/MAIN/Machine Learning/Machine Learning FUll/student1.csv")

df.head()
# print(df.info())
print(df["Grade"].value_counts())

Grade
D    1066
A    1026
B    1001
F     958
C     949
Name: count, dtype: int64

In [2]:
df.head()

,Student_ID,Gender,Age,Department,Attendance_%,Study_Hours_per_Week,Midterm_Score,Final_Score,Assignments_Avg,Quizzes_Avg,Participation_Score,Projects_Score,Total_Score,Grade,Backlogs,Internship,Scholarship,Sports_Activity,Extra_Curricular,Placement_Status
0,1,Male,20,CS,59.91,30,80.01,50.94,91.05,90.12,53.15,71.24,49.68,C,0,Yes,No,No,No,Placed
1,2,Female,24,Mathematics,50.46,31,80.22,75.83,69.48,74.07,91.63,92.86,57.73,F,1,No,Yes,Yes,Yes,Not Placed
2,3,Male,24,Business,81.36,44,94.07,81.59,59.90,91.05,90.86,78.17,53.01,A,3,Yes,Yes,Yes,No,Not Placed
3,4,Male,24,Mathematics,65.82,28,40.96,68.11,79.38,91.23,24.97,52.26,98.52,D,0,Yes,Yes,No,Yes,Not Placed
4,5,Male,21,Engineering,98.66,12,91.18,45.86,91.32,65.86,71.97,90.09,61.78,D,3,Yes,Yes,No,No,Not Placed

In [3]:
X=df[["Grade","Study_Hours_per_Week"]]
y=df["Final_Score"]


# Step1 1:- train_test 

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.3, random_state=42)

In [4]:
# Step2:- encode krna 

df=pd.get_dummies(df, columns=['Grade'])
le=LabelEncoder()
df.head()

,Student_ID,Gender,Age,Department,Attendance_%,Study_Hours_per_Week,Midterm_Score,Final_Score,Assignments_Avg,Quizzes_Avg,...,Internship,Scholarship,Sports_Activity,Extra_Curricular,Placement_Status,Grade_A,Grade_B,Grade_C,Grade_D,Grade_F
0,1,Male,20,CS,59.91,30,80.01,50.94,91.05,90.12,...,Yes,No,No,No,Placed,False,False,True,False,False
1,2,Female,24,Mathematics,50.46,31,80.22,75.83,69.48,74.07,...,No,Yes,Yes,Yes,Not Placed,False,False,False,False,True
2,3,Male,24,Business,81.36,44,94.07,81.59,59.90,91.05,...,Yes,Yes,Yes,No,Not Placed,True,False,False,False,False
3,4,Male,24,Mathematics,65.82,28,40.96,68.11,79.38,91.23,...,Yes,Yes,No,Yes,Not Placed,False,False,False,True,False
4,5,Male,21,Engineering,98.66,12,91.18,45.86,91.32,65.86,...,Yes,Yes,No,No,Not Placed,False,False,False,True,False

In [5]:
#Step3 :- here i am doing scaling on one column of trained data

sc=StandardScaler()
X_train["Study_Hours_per_Week"]=sc.fit_transform(X_train[["Study_Hours_per_Week"]])

In [6]:
model=LogisticRegression()
model.fit(X_train,y_train)

ValueError: could not convert string to float: 'A'