In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# Load
df = pd.read_csv("/Users/inamkhan/Desktop/MAIN/Machine Learning/Machine Learning FUll/student1.csv")

# New df (sirf zaroori columns)
df_ml = df[["Grade", "Study_Hours_per_Week", "Final_Score"]]

# Drop trick
X = df_ml.drop("Final_Score", axis=1)
y = df_ml["Final_Score"]

# Train-Test Split (FIRST)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)

# Encoding (AFTER split)
X_train = pd.get_dummies(X_train, columns=["Grade"], drop_first=True)
X_test  = pd.get_dummies(X_test, columns=["Grade"], drop_first=True)

# Align columns
X_train, X_test = X_train.align(X_test, join="left", axis=1, fill_value=0)

# Scaling (sirf numeric)
sc = StandardScaler()
X_train[["Study_Hours_per_Week"]] = sc.fit_transform(
    X_train[["Study_Hours_per_Week"]]
)
X_test[["Study_Hours_per_Week"]] = sc.transform(
    X_test[["Study_Hours_per_Week"]]
)

# Model (Regression)
model = LinearRegression()
model.fit(X_train, y_train)

y_pred=model.predict(X_test)

# Example prediction
print(model.predict(X_test[:1])[0])

print("R2 Score: ",r2_score(y_test,y_pred))

70.7256929657606
R2 Score:  -0.0015139004323343475

In [ ]:
df.head()

,Student_ID,Gender,Age,Department,Attendance_%,Study_Hours_per_Week,Midterm_Score,Final_Score,Assignments_Avg,Quizzes_Avg,Participation_Score,Projects_Score,Total_Score,Grade,Backlogs,Internship,Scholarship,Sports_Activity,Extra_Curricular,Placement_Status
0,1,Male,20,CS,59.91,30,80.01,50.94,91.05,90.12,53.15,71.24,49.68,C,0,Yes,No,No,No,Placed
1,2,Female,24,Mathematics,50.46,31,80.22,75.83,69.48,74.07,91.63,92.86,57.73,F,1,No,Yes,Yes,Yes,Not Placed
2,3,Male,24,Business,81.36,44,94.07,81.59,59.90,91.05,90.86,78.17,53.01,A,3,Yes,Yes,Yes,No,Not Placed
3,4,Male,24,Mathematics,65.82,28,40.96,68.11,79.38,91.23,24.97,52.26,98.52,D,0,Yes,Yes,No,Yes,Not Placed
4,5,Male,21,Engineering,98.66,12,91.18,45.86,91.32,65.86,71.97,90.09,61.78,D,3,Yes,Yes,No,No,Not Placed