In [18]:
import pandas as pd
from sklearn.linear_model import LinearRegression

from sklearn.preprocessing import LabelEncoder

data = {
    "Grade": ["A","B","C","D","F","B","A","C"],
    "Study_Hours_per_Week": [40,30,20,10,5,25,35,18],
    "Final_Score": [95,85,70,55,40,80,90,68]
}

df = pd.DataFrame(data)

# one-hot encoding
df = pd.get_dummies(df, columns=["Grade"])

X = df.drop("Final_Score", axis=1)
y = df["Final_Score"]

model = LinearRegression()
model.fit(X, y)

df.head()

,Study_Hours_per_Week,Final_Score,Grade_A,Grade_B,Grade_C,Grade_D,Grade_F
0,40,95,True,False,False,False,False
1,30,85,False,True,False,False,False
2,20,70,False,False,True,False,False
3,10,55,False,False,False,True,False
4,5,40,False,False,False,False,True

In [21]:
le=LabelEncoder()

df["Grade_A"]=le.fit_transform(df["Grade_A"])
df.head()

,Study_Hours_per_Week,Final_Score,Grade_A,Grade_B,Grade_C,Grade_D,Grade_F
0,40,95,1,False,False,False,False
1,30,85,0,True,False,False,False
2,20,70,0,False,True,False,False
3,10,55,0,False,False,True,False
4,5,40,0,False,False,False,True